<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <nav>
        <div>
          <a href="/dashboard">Dashboard</a>
        </div>
        
        {{#if loggedIn}}
        <div>
            
            <button id="logout" class="btn-no-style">Log Out</button>
        </div>
        {{else}}
        <div>
          
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        </div>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Made by Parker Robison
    </footer>
  </div>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
<script src="/javascript/time-out.js"></script>
{{/if}}
</body>

</html>