<div class="login-message">
  <p>Welcome to Tech Blog, the website where you can make posts about all of the cool tech related things 
    that you are learning about, working on or are passionate about. If this is your first time to our 
    website, we reccommend starting on our <a href='/signup'>Sign up page</a> to create an account. 
    That way you can get the most out of the Tech Blog website. We hope you enjoy!</p>
</div>
<form class="login-form">
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Log In</button>
  </div>
</form>
<script src="/javascript/login.js"></script>