<div class="login-message">
  <p>Welcome to Tech Blog, the website where you can make posts about all of the cool tech related things 
    that you are learning about, working on or are passionate about. If this isn't your first time to our 
    website, we recommend going to our <a href='/login'>Log In page</a> to log in. 
    That way you can get the most out of the Tech Blog website. Notice to our users: after 10 minutes
    of inactivity you will be logged out of your account. We hope you enjoy!</p>
</div>
<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
<script src="/javascript/signup.js"></script>