* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background: #231f20;
  }
  
  a {
    text-decoration: none;
    color: #356600;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #3486eb;
  }
  
  button {
    background-color: #000099;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
  .post-list {
    margin: 0;
    padding: 5px;
  }

  .meta a {
    color: #000099;
    transition: background-color .1s;
  }

  .meta :hover {
    color: #3486eb;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  .login-message {
    background-color: #197d0f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    border: 3px white solid;
    box-shadow: black 10px 10px;
    font-size: large;
    color: black;
  }

  .login-message a {
    color: #000099;
  }
  
  .login-form {
    background-color: #197d0f;
    padding: 10px;
    border-radius: 5px;
    border: 3px white solid;
    box-shadow: black 10px 10px;
  }

  .signup-form {
    background-color: #197d0f;
    padding: 10px;
    border-radius: 5px;
    border: 3px white solid;
    box-shadow: black 10px 10px;
  }

  form > div {
    margin-bottom: 2%;
    }
  
  form label {
    display: block;
    color: black;
    font-weight: bold;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: black;
  }
  
  header h1 {
    font-size: 2.5em;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 10px 10px #356600;
  }

  nav {
    padding: 40px;
    display: flex;
    justify-content: space-between;
  }

  nav a {
    padding: 10px;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }

  ol {
    list-style-type: none;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #356600;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }

  h2 {
    color: white;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    background: #197d0f;
    border: 3px solid #F0F8FF;
    border-radius: 5px;
    box-shadow: 10px 10px black;
    padding: 5px 5px;
  }
  
  .post .title p {
    color: white;
    font-size: large;
    font-weight: bold;
  }
  .post .title span {
    color: black;
  }

  .post .meta {
    color: #231F20;
  }
  
  .edit-link {
    display: block;
    margin: 0 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
    background-color: #197d0f;
    padding: 10px;
    border-radius: 5px;
    border: 3px white solid;
    box-shadow: black 10px 10px;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
    color: white;
    border-radius: 5px;
  }
  
  .comment:nth-child(even) {
    background-color: #197d0f;
  }

  .comment:nth-child(odd) {
    background-color: black;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form {
    background-color: #197d0f;
    padding: 10px;
    border-radius: 5px;
    border: 3px white solid;
    box-shadow: black 10px 10px;
  }

  .new-post-form input {
    width: 300px; 
  }
  
  .edit-post-form {
    margin-bottom: 5%;
    background-color: #197d0f;
    padding: 10px;
    border-radius: 5px;
    border: 3px white solid;
    box-shadow: black 10px 10px;
  }

  .edit-post-form input {
    margin-bottom: 5px;
  }

  .edit-post-form a {
    color: #000099;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    background-color: black;
  }